@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --color-primary-10: var(--primary-10);
  --color-primary-20: var(--primary-20);
  --color-primary-30: var(--primary-30);
  --color-primary-40: var(--primary-40);
  --color-primary-50: var(--primary-50);
  --color-primary-60: var(--primary-60);
  --color-primary-70: var(--primary-70);
  --color-primary-80: var(--primary-80);
  --color-primary-90: var(--primary-90);
  --color-primary-100: var(--primary-100);
  --color-primary-110: var(--primary-110);

  --color-secondary-10: var(--secondary-10);
  --color-secondary-20: var(--secondary-20);
  --color-secondary-30: var(--secondary-30);
  --color-secondary-40: var(--secondary-40);
  --color-secondary-50: var(--secondary-50);
  --color-secondary-60: var(--secondary-60);
  --color-secondary-70: var(--secondary-70);
  --color-secondary-80: var(--secondary-80);
  --color-secondary-90: var(--secondary-90);
  --color-secondary-100: var(--secondary-100);

  --color-gray-10: var(--gray-10);
  --color-gray-20: var(--gray-20);
  --color-gray-30: var(--gray-30);
  --color-gray-40: var(--gray-40);
  --color-gray-50: var(--gray-50);
  --color-gray-60: var(--gray-60);
  --color-gray-70: var(--gray-70);
  --color-gray-80: var(--gray-80);
  --color-gray-90: var(--gray-90);
  --color-gray-100: var(--gray-100);

  --color-green-10: var(--green-10);
  --color-green-20: var(--green-20);
  --color-green-30: var(--green-30);
  --color-green-40: var(--green-40);
  --color-green-50: var(--green-50);
  --color-green-60: var(--green-60);
  --color-green-70: var(--green-70);
  --color-green-80: var(--green-80);
  --color-green-90: var(--green-90);
  --color-green-100: var(--green-100);

  --color-red-10: var(--red-10);
  --color-red-20: var(--red-20);
  --color-red-30: var(--red-30);
  --color-red-40: var(--red-40);
  --color-red-50: var(--red-50);
  --color-red-60: var(--red-60);
  --color-red-70: var(--red-70);
  --color-red-80: var(--red-80);
  --color-red-90: var(--red-90);
  --color-red-100: var(--red-100);

  --color-neutral-black: var(--neutral-black);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-90: var(--neutral-90);
  --color-neutral-80: var(--neutral-80);
  --color-neutral-70: var(--neutral-70);
  --color-neutral-60: var(--neutral-60);
  --color-neutral-50: var(--neutral-50);
  --color-neutral-40: var(--neutral-40);
  --color-neutral-30: var(--neutral-30);
  --color-neutral-20: var(--neutral-20);
  --color-neutral-10: var(--neutral-10);
  --color-neutral-white: var(--neutral-white);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

:root {
  --radius: 0.625rem;

  --primary-10: #f5f3ff;
  --primary-20: #e6deff;
  --primary-30: #d4c7ff;
  --primary-40: #b8a5ff;
  --primary-50: #9b83ff;
  --primary-60: #7c5cff;
  --primary-70: #846dd8;
  --primary-80: #4c2fb6;
  --primary-90: #3a217a;
  --primary-100: #2f1d72;
  --primary-110: #1e144e;

  --secondary-10: #fff9e6;
  --secondary-20: #fff3cc;
  --secondary-30: #ffe699;
  --secondary-40: #ffd966;
  --secondary-50: #ffcc33;
  --secondary-60: #ffc857;
  --secondary-70: #ffb800;
  --secondary-80: #e6a500;
  --secondary-90: #cc9200;
  --secondary-100: #a07800;

  --gray-10: #f9f8f4;
  --gray-20: #f5f5f5;
  --gray-30: #eaeaea;
  --gray-40: #e0e0e0;
  --gray-50: #d4d4d4;
  --gray-60: #cccccc;
  --gray-70: #bfbfbf;
  --gray-80: #9e9e9e;
  --gray-90: #808080;
  --gray-100: #64646a;

  --green-10: #e8f5e9;
  --green-20: #c8e6c9;
  --green-30: #a5d6a7;
  --green-40: #81c784;
  --green-50: #66bb6a;
  --green-60: #4caf50;
  --green-70: #43a047;
  --green-80: #388e3c;
  --green-90: #2e7d32;
  --green-100: #1b5e20;

  --red-10: #ffebee;
  --red-20: #ffcdd2;
  --red-30: #ef9a9a;
  --red-40: #e57373;
  --red-50: #ef5350;
  --red-60: #f44336;
  --red-70: #e53935;
  --red-80: #d32f2f;
  --red-90: #c62828;
  --red-100: #b71c1c;

  --neutral-black: #000000;
  --neutral-100: #151515;
  --neutral-90: #282828;
  --neutral-80: #404040;
  --neutral-70: #555555;
  --neutral-60: #64646a;
  --neutral-50: #808080;
  --neutral-40: #959595;
  --neutral-30: #bfbfbf;
  --neutral-20: #d4d4d4;
  --neutral-10: #eaeaea;
  --neutral-white: #ffffff;

  --background: var(--gray-10);
  --foreground: var(--neutral-100);
  --card: var(--neutral-white);
  --card-foreground: var(--neutral-100);
  --popover: var(--neutral-white);
  --popover-foreground: var(--neutral-100);
  --primary: var(--primary-80);
  --primary-foreground: var(--neutral-white);
  --secondary: var(--secondary-60);
  --secondary-foreground: var(--neutral-100);
  --muted: var(--gray-20);
  --muted-foreground: var(--gray-80);
  --accent: var(--primary-20);
  --accent-foreground: var(--primary-80);
  --destructive: var(--red-60);
  --border: var(--gray-30);
  --input: var(--gray-30);
  --ring: var(--primary-60);
  --sidebar: var(--primary-100);
  --sidebar-foreground: var(--neutral-white);
  --sidebar-primary: var(--primary-80);
  --sidebar-primary-foreground: var(--neutral-white);
  --sidebar-accent: var(--primary-90);
  --sidebar-accent-foreground: var(--neutral-white);
  --sidebar-border: var(--primary-90);
  --sidebar-ring: var(--primary-60);
  --chart-1: var(--primary-70);
  --chart-2: var(--secondary-60);
  --chart-3: var(--green-60);
  --chart-4: var(--red-60);
  --chart-5: var(--gray-60);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.font-iranyekan {
  font-family: var(--font-iranyekan), sans-serif;
}
